<section class="card-size card-container" [style]="{ opacity: (opacity || 1) }" >
      <div class="card-header">
        <span class="card-title">{{ showEmpty ? '' : pokemon?.name }}</span>
        <span class="card-title-id no-bold">{{ showEmpty ? '' :  '#' + formatId(pokemon?.id) }}</span>
      </div>
      <div class="card-main">
        <div class="card-prev">
          <inicie-prev-button
            [ngClass]=" { 'invisible': !showButtonPrev, 'visible': showButtonPrev }"
            (onClick)="onClickButtonPrev.emit($event)"
          ></inicie-prev-button>
        </div>
        <img
        [ngClass]=" { 'invisible': showEmpty, 'visible': !showEmpty }"
          class="card-image-size"
          [src]="showEmpty ? '' : pokemon?.sprites?.front_default"
        />
        <div class="card-next">
          <inicie-next-button
            [ngClass]=" { 'invisible': !showButtonNext, 'visible': showButtonNext }"
            (onClick)="onClickButtonNext.emit($event)"
          ></inicie-next-button>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-footer-item">
          <p>{{ showEmpty ? '' : 'Altura'}}</p>
          <p>{{ showEmpty ? '' : formatNumber(pokemon?.height) + 'm' }}</p>
        </div>
        <div class="card-footer-item">
          <p>{{ showEmpty ? '' : 'Peso'}}</p>
          <p>{{ showEmpty ? '' : formatNumber(pokemon?.weight) + 'kg' }}</p>
        </div>
      </div>
    </section>
