<div class="home-container">
  <div class="search-container">
    <p class="title">
      Explore o mundo dos <span style="color: #ea686d">Pokémons</span>
    </p>
    <p class="description-text">
      Descubra todas as espécies de Pokémons
    </p>
    <div class="input-search-container">
      <input
        class="input-search"
        type="text"
        name="pokemon"
        id="pokemon"
      />
      <button class="form-button">
        Buscar
      </button>
    </div>
  </div>
  <div class="carrousel-container">
    <inicie-card
      *ngIf="showCornerCards"
      class="custom-size"
      [pokemon]="pokemons[0]"
      [showEmpty]="pokemons[1]?.id === 1"
      [opacity]="0.3"
    ></inicie-card>
    <inicie-card
      [pokemon]="pokemons[1]"
      [showButtonPrev]="showButtonPrev"
      [showButtonNext]="showButtonNext"
      (onClickButtonPrev)="onClickButtonPrev()"
      (onClickButtonNext)="onClickButtonNext()"
    ></inicie-card>
    <inicie-card
      *ngIf="showCornerCards"
      class="custom-size"
      [pokemon]="pokemons[2]"
      [showEmpty]="pokemons[1]?.id === 10270"
      [opacity]="0.3"
    ></inicie-card>
  </div>
</div>
