<div style="display: flex; width: 100%; padding: 0 76px; gap: 28px">
  <div
    class="search"
    style="display: flex; flex-direction: column; gap: 1.8em; width: 30%"
  >
    <p style="font-size: 55px">
      Explore o mundo dos <span style="color: #ea686d">Pokémons</span>
    </p>
    <p style="font-weight: 400; font-size: 25px; line-height: 30px">
      Descubra todas as espécies de Pokémons
    </p>
    <div class="input-search" style="display: flex; width: 90%">
      <input
        style="
          width: 70%;
          background: #ffffff;
          border: 1px solid #f4f4f4;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          border-radius: 5px 0px 0px 5px;
          padding: 8px;
        "
        type="text"
        name="pokemon"
        id="pokemon"
      />
      <button
        style="
          width: 30%;
          background: #ea686d;
          box-shadow: 0px 4px 15px #ea686d;
          border-radius: 0px 5px 5px 0px;
          color: #ffffff;
          border: none;
          padding: 8px;
          width: 106px;
          font-size: 22px;
          line-height: 30px;
          text-align: center;
        "
      >
        Buscar
      </button>
    </div>
  </div>
  <div
    class="carrousel"
    style="
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    "
  >
    <inicie-card *ngIf="pokemons[1]?.id != 1" [pokemon]="pokemons[0]"></inicie-card>
    <inicie-card [pokemon]="pokemons[1]" [options]="cardOptions"></inicie-card>
    <inicie-card [pokemon]="pokemons[2]"></inicie-card>
  </div>
</div>
